In [10]:
## Ethinicity Data by Borough

In [11]:
import pandas as pd
import re

import numpy as np

In [16]:
# read data from all sheets and store them in the same dataframe

def ethnicity_loop(file_name):
    
    # excel sheet 2020 to 2012
    result = pd.DataFrame(columns = ['Code', 'Borough', 'White', 'Asian', 'Black', 'Mixed/Other', 'Total'])
    for i in range(1, 10):
       
        X = pd.read_excel(file_name, sheet_name = i, usecols = 'A:G', skipfooter = 17, skiprows = 4,
                          header = None, names = ['Code', 'Borough', 'White', 'Asian', 'Black', 'Mixed/Other', 'Total'])
        X['Year'] = 2021 - int(f'{i}')
        
        result = pd.concat([result, X], ignore_index = True)
    return result

In [19]:
file_name = 'ethnic-groups-by-borough.xls'
ethnicity = ethnicity_loop(file_name)
ethnicity.tail(n=10)

,Code,Borough,White,Asian,Black,Mixed/Other,Total,Year
260,E09000022,Lambeth,201000,15000,71000,20000,306000,2012.0
261,E09000023,Lewisham,160000,34000,60000,24000,278000,2012.0
262,E09000024,Merton,129000,40000,18000,12000,200000,2012.0
263,E09000025,Newham,83000,144000,52000,35000,315000,2012.0
264,E09000026,Redbridge,128000,116000,19000,20000,282000,2012.0
265,E09000027,Richmond upon Thames,164000,11000,-,10000,186000,2012.0
266,E09000028,Southwark,171000,30000,60000,28000,290000,2012.0
267,E09000029,Sutton,147000,23000,9000,13000,192000,2012.0
268,E09000030,Tower Hamlets,100000,128000,18000,16000,261000,2012.0
269,E09000031,Waltham Forest,141000,56000,38000,25000,260000,2012.0