In [45]:
## LGBTQ Data

In [67]:
import numpy as np
import pandas as pd

In [104]:
lgbtq_p = pd.read_excel('lgbtqdata.xlsx', usecols = [0, 1, 10, 11 , 12, 13, 14, 15, 16, 17],
                       header = 1, skiprows = ([i for i in range(1, 4)] + [j for j in range(5, 282)] + [k for k in range (314, 336)]))

In [105]:
lgbtq_p.head(5)

,Area code,Area name,Straight or Heterosexual\n(percent),Gay or Lesbian\n(percent),Bisexual\n(percent),Pansexual\n(percent),Asexual\n(percent),Queer\n(percent),All other sexual orientations\n(percent),Not answered\n(percent)
0,E09000002,Barking and Dagenham,88.58,0.82,0.97,0.38,0.03,0.01,0.07,9.14
1,E09000003,Barnet,87.27,1.25,1.06,0.36,0.05,0.03,0.04,9.94
2,E09000004,Bexley,90.92,1.05,0.81,0.18,0.03,0.02,0.02,6.97
3,E09000005,Brent,85.10,1.31,1.29,0.45,0.04,0.03,0.07,11.70
4,E09000006,Bromley,89.98,1.53,0.95,0.16,0.05,0.03,0.02,7.30

In [106]:
lgbtq_p.tail(5)

,Area code,Area name,Straight or Heterosexual\n(percent),Gay or Lesbian\n(percent),Bisexual\n(percent),Pansexual\n(percent),Asexual\n(percent),Queer\n(percent),All other sexual orientations\n(percent),Not answered\n(percent)
27,E09000029,Sutton,89.95,1.17,0.97,0.19,0.04,0.01,0.01,7.65
28,E09000030,Tower Hamlets,83.07,3.96,2.52,0.46,0.06,0.13,0.04,9.76
29,E09000031,Waltham Forest,85.99,2.26,1.62,0.44,0.05,0.09,0.05,9.49
30,E09000032,Wandsworth,86.47,3.05,1.74,0.26,0.06,0.05,0.03,8.34
31,E09000033,Westminster,83.31,3.47,1.54,0.33,0.06,0.05,0.04,11.20